<div class="col-md-4 col-md-offset-4">
    <h1>修改推薦股</h1>
    <hr>
    <%= simple_form_for @stock do |f| %>
        <div class="form-group">
            <%= f.input :stock_name, label: "股票名稱" %>
            <%= f.input :stock_number, label: "股票代號" %>
            <%= f.input :recommend_date, label: "推薦日期" %>
            <%= f.input :enter_price, label: "進場價位" %>
            <%= f.input :target_price, label: "目標價位" %>
            <%= f.input :description, label: "附加說明" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..."} %>
    <% end %>
</div>