<h1 class="text-center">新增驗證股</h1>

<div class="col-md-12">
    <%= simple_form_for @stock do |f| %>
        <div class="form-group">
            <%= f.input :recommend_date,label: "推薦日期" %>
            <%= f.input :stock_number, label: "股票代號" %>
            <%= f.input :stock_name, label: "股票名稱" %>
            <%= f.input :enter_date, label: "進場日期" %>
            <%= f.input :enter_price, label: "進場價位" %>
            <%= f.input :target_price, label: "目標價位" %>
            <%= f.input :current_price, label: "今日收盤價" %>
            <%= f.input :description, label: "附加說明" %>
            <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
        </div>
    <% end %>
</div>